<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product-2</title>
</head>
<body>

    <!--
        prod1 = Product{
		ProID: 22,
		Name: "I Phone 15 pro",
		Cost: 999,
		Specs: ProductSpec{
			Size: "15 x 7 x 7nm",
			Weight: 65,
			Description: "The Best Product ",
		},
	}
    -->
    <h1>Product Info</h1>
    <ul>
        <li>{{.Name}} id:{{.ProID}}</li>
        <li>${{.Cost}}</li>
        <li>
            Specs
            <ul>
                <li>Size: {{.Specs.Size}}</li>
                <li>Weight: {{.Specs.Weight}}</li>
                <li>Description : {{.Specs.Description}}</li>
            </ul>
        </li>
    </ul>

</body>
</html>