<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
    <ul>
        <li>username must contain only letters or numbers</li>
        <li>username must longer than 4 charachter but shorter than 51</li>
        <li>passwords must contain a uppercase letter , lowercase letter , and special charachter</li>
        <li>passwords must be greater than 11 charachter but less than 60</li>
    </ul>

    <form action="/registerauth" method="POST">
        <label for="username">Name:</label>
        <input type="text" name="username" id="username"><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password"><br>
        <input type="submit" name="" id="" value="submit">
    </form>
    <br><br>
    {{if .}}
    {{.}}
    {{end}}
</body>
</html>