<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList</title>
</head>
<body>
    <ul>
        <b>Todo</b>
        {{range .}}
            {{if ne .Done true}}
                <li>{{.Name}}</li>
            {{.end}}
        {{.end}}
    </ul>
    <br>
    <ul>
        <b>Done</b>
        {{range .}}
            {{if .Done}}
                <li>{{.Name}}</li>
            {{end}}
        {{end}}
    </ul>
</body>
</html>